#telphone {
    border: none !important;
    margin-right: -84px;
}

.main-background{
    width: 100%;
    background: url("../../img/css/driver_main_banner.jpg") no-repeat #d0d0d0;
    background-size: cover;
    background-position: center center;
    height: 800px;
    margin-bottom: -26px;
}

.signin-padding {
    padding: 16px;
}

.signin-captcha {
    margin-top: 16px;
    margin-bottom: 16px;
}
@media screen and (max-height: 300px){
    #rc-imageselect, .g-recaptcha {transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;}
}

#telphone {
    width: 75% !important;
}

.btn-verify {
    background-color: #d46c2e !important;
}

.signin-line {
    color: #d0d0d0;
    border-bottom: 1px #d0d0d0 solid;
    margin-top: 16px;
}

.card-title {
    position: relative;
    /* margin-top: -15px; */
    width: 40%;
    background: white;
    margin: -15px auto 15px auto;
}

.flag-container, .country-name, .dial-code {
    color: black!important;
}


