.questions-main .container .row {
    margin: 0;
    padding: 0;
}

.questions-main ul {
    margin-right: 0;
    margin-left: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.nav-tabs-dropdown {
    display: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#aside-nav-left {
    margin-top: 0;
    z-index: 12;
}

#aside-nav-left .nav-item {
    border: 1px solid #090576;
    background-color: #fff;
}

#aside-nav-left .nav-item:not(:last-child) {
    border-bottom: none;
}

#aside-nav-left a:active,
#aside-nav-left a:focus,
#aside-nav-left a:hover
{
    border:none;
    color: #090576;
}

#aside-nav-left .nav-item:active,
#aside-nav-left .nav-item:focus,
#aside-nav-left .nav-item:hover
{
    border-right: 1px solid #fff;
}


.questions-main .aside-nav {
    margin: 0;
    padding: 0;
}

.question-content {
    margin: 0 0 0 -1px;
    padding: 0;
    border: 1px solid #090576;
    border-right: 1px solid #090576;
    min-height: 600px;
    background: #fff;
    z-index: 10;
}

.tab-content {
    margin: 0;  
}

#nav-tabs-wrapper {
    display: block !important;
     margin-top: 0; 
     padding: 0;
}


.nav-tabs-dropdown:before {
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 30px;
}

@media screen and (min-width: 769px) {
    #nav-tabs-wrapper {
        display: block !important;
         /* margin-top: 0; */
        /* padding: 0; */
    }
}

@media screen and (max-width: 768px) {
    .nav-tabs-dropdown {
        display: block;
        margin-top: 0;
    }

    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }

    .nav-tabs-horizontal {
        min-height: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .nav-tabs-horizontal > li {
        float: none;
    }

    .nav-tabs-horizontal > li + li {
        margin-left: 2px;
    }

    .nav-tabs-horizontal > li,
    .nav-tabs-horizontal > li > a {
        background: transparent;
        width: 100%;
    }

    .nav-tabs-horizontal > li > a {
        border-radius: 4px;
    }

    .nav-tabs-horizontal > li.active > a,
    .nav-tabs-horizontal > li.active > a:hover,
    .nav-tabs-horizontal > li.active > a:focus {
        color: #090576;
        background-color: transparent;
    }
}