.questions-main {
    background-color: #ececf1;
}

.questions-main .questions-header {
    background: rgb(4, 46, 117);
    background: -webkit-linear-gradient(45deg, rgb(4, 46, 117) 0%, rgb(11, 39, 64) 100%);
    background: -o-linear-gradient(45deg, rgba(4, 46, 117, 1) 0%, rgba(11, 39, 64, 1) 100%);
    background: linear-gradient(45deg, rgba(4, 46, 117 1) 0%, rgba(11, 39, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#042E75', endColorstr='#0B2740', GradientType=1);
    min-height: 16vh;
}

.questions-main .section-padding {
    margin-top: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.questions-main .container .row {
    margin: 0;
    padding: 0;
}

.question-content {
    margin: 0 0 0 -1px;
    padding: 0;
    border: 1px solid #cdcdcd;
    min-height: 600px;
    background: #fff;
    z-index: 10;
    -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

#aside-nav-left .nav>li>a {
    padding: 20px 15px;
}

.tab-content {
    margin: 0;
    padding: 16px;
}

#aside-nav-left ul {
    margin-right: 0;
    margin-left: 0;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.nav-tabs-dropdown {
    display: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

#aside-nav-left {
    margin-top: 0;
    z-index: 12;
}

#aside-nav-left .nav-item {
    border: 1px solid #cdcdcd;
    background-color: #fff;
}

#aside-nav-left .nav-item:not(:last-child) {
    border-bottom: none;
}



#aside-nav-left li:active,
#aside-nav-left li:focus,
#aside-nav-left li:hover {
    border-right: 1px solid #fff !important;
}

#aside-nav-left li.active {
    border-right: 1px solid #fff !important;
}


#aside-nav-left a:active,
#aside-nav-left a:focus,
#aside-nav-left a:hover,
#aside-nav-left a {
    border: none;
    color: #090576;
    width: 100%;
}

.nav-link.active {
    position: relative;
    background-color: transparent;
}

.nav-link.active:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #090576;
}

.questions-main .aside-nav {
    margin: 0;
    padding: 0;
}



#nav-tabs-wrapper {
    margin-top: 0;
    padding: 0;
}


.nav-tabs-dropdown:before {
    content: "\e114";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    right: 30px;
}

.title-question {
    display: block;
    width: 100%;
    margin-top: 0;
    background-color: #fff;
    border: 1px solid #cdcdcd;
    padding: 15px 15px;
    font-weight: bold;
    text-align: center;
}

.title-question {
    border-bottom: none;
}

@media screen and (min-width: 769px) {
    #nav-tabs-wrapper {
        display: block !important;
        /* margin-top: 0; */
        /* padding: 0; */
    }

    .question-content {
        margin: 0 0 0 -1px;
    }

    #aside-nav-left li.active {
        border-right: 1px solid #fff !important;
    }
}

@media screen and (max-width: 768px) {

    #aside-nav-left,
    .question-content {
        width: 100%;
        min-height: 1px;
        margin: 0;
    }

    .nav-tabs-dropdown {
        display: block;
        margin-top: 0;
        background-color: #fff;
        border: 1px solid #cdcdcd !important;
        margin-right: 2px;
        padding: 15px 15px;
        font-weight: bold;
        text-align: left;
    }

    ul.nav-tabs-dropdown {
        float: none;
        display: block;
    }
    
    .nav{
        flex-wrap: wrap;
    }
    

    .nav-tabs-dropdown {
        border-bottom: none !important;
    }

    #aside-nav-left li.active {
        border-right: 1px solid #cdcdcd !important;
    }

    #nav-tabs-wrapper {
        display: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        text-align: center;
    }

    .nav-tabs-horizontal {
        min-height: 20px;
        margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    }

    .nav-tabs-horizontal>li {
        float: none;
    }

    .nav-tabs-horizontal>li+li {
        margin-left: 2px;
    }

    .nav-tabs-horizontal>li,
    .nav-tabs-horizontal>li>a {
        background: #fff;
        width: 100%;
    }

    .nav-tabs-horizontal>li>a {
        border-radius: 4px;
    }

    .nav-tabs-horizontal>li.active>a,
    .nav-tabs-horizontal>li.active>a:hover,
    .nav-tabs-horizontal>li.active>a:focus {
        color: #090576;
        background-color: transparent;
    }
}

.accordion__title:hover {
    background-color: #ddd;
}

.accordion__body {
    display: block;
    animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
}

.accordion__item {
    margin-bottom: 16px;
    border: 1px solid #f0f0f0;
    border-radius: .25rem;
}

div.accordion__title {
    background-color: #f0f0f0;
}

div.accordion__title h3 {
    font-size: 1.6rem;
    position: relative;
    padding: 15px  50px 15px 15px;
    background-color: #f0f0f0;
    transition: all 0.2s ease-in-out;
    line-height: 1.3;
    border-bottom: none;
    font-weight: normal;
    border-radius: 0;
    margin: 0;
}

.accordion__body p {
    padding: 10px 15px;
    font-size: 1.5rem;
    line-height: 1.3;
    border-bottom: none;
    font-weight: normal;
    position: relative;
    margin: 0;
}


div.accordion__title  .accordion__arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    position: absolute;
    margin-top: -27px;
    right: 25px;
}

.accordion__arrow::after,
.accordion__arrow::before {
    display: block;
    position: absolute;
    right: 25px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
}

.accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.accordion__title--animated:hover .accordion__arrow {
    animation-name: move-down;
    animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
    animation-name: move-up;
    animation-duration: 1.5s;
}
