body { padding-right: 0 !important }

.modal-open {
    padding-right: 0px !important;
}

.modal-content {
    opacity: 1;
    pointer-events: all;

}

.modal-content {
    background-color: #fff;
    border-radius: 20px;
    transition: all .5s ease;
}

.login-form {
    padding: 32px;
}

.login-form .box > input {
    font-size: medium;
    border-bottom: 1px solid #cba01f;
}

.login-form .bttn-default {
    font-size: medium;
    text-transform: capitalize;
}


.login-form .form-double .box {
    width: calc(24px - 100%);
    text-align: left;
    float: left;
}

.login-form  .form-double .box.last {
    float: right;
    text-align: left;
    width: calc(100% - 24px);
}

.login-form  .fa {
    display: inline-block;
    font-size: medium;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 2;
    font-weight: 600;
}

.login-form  .fa-mobile-phone {
   font-size: x-large;
    line-height: 1.5;
}