.slide-area {
    width: 100%;
    padding-top: 0vh;
    color: #ffffff;
    margin-bottom: 20px;
    background: rgb(4, 46, 117);
    background: -webkit-linear-gradient(45deg, rgb(4, 46, 117) 0%, rgb(11, 39, 64) 100%);
    background: -o-linear-gradient(45deg, rgba(4, 46, 117, 1) 0%, rgba(11, 39, 64, 1) 100%);
    background: linear-gradient(45deg, rgba(4, 46, 117 1) 0%, rgba(11, 39, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#042E75', endColorstr='#0B2740', GradientType=1);
}



body {
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.banner-item {
    position: relative;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.banner-item:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    top: 0;
    left: 0;
}
.banner-data {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: auto;
    text-align: center;
}
.banner-data h1 {
    color: #fff;
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
}
.banner-data p {
    color: #fff;
    background-color: #3498db;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 0px 10px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.owl-carousel .owl-controls .owl-nav .owl-prev{
    left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0;
}
.owl-carousel .owl-controls .owl-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.owl-carousel .owl-controls .owl-dot {
    display: inline-block;
    margin: 0px 2.5px;
    height: 15px;
    width: 15px;
    background: #fff;
}
.owl-carousel .owl-controls .owl-dot.active {
    background-color: #3498db;
    height: 20px;
    width: 20px;
    transition: .4s;
}

