.uploads {
    display: flex;
    background: #eaeff2;
    border: 1px solid #ccd6dd;
}

.profile-doccument
.jumbotron {
    background-color: #d8ebfbf2;
}

.form-upload {
    text-align: center;
    position: relative;
}

.upload-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #1581c13b;
    line-height: 1.5em;
}

.upload-container input[type=file] {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    outline: 0;
    line-height: 1.5em;
}

.form-indentily {
    color: #157bc1 !important;
}

.profile-doccument {
    font-weight: 300;
    padding-top: 2em;
    color: #157bc1;
}

.profile-title {
    color: #157bc1;
}

.profile-title h2 {
    font-size: 1.3rem;
}

.profile-title .warning {
    color: red !important;
}

.warning {
    color: red !important;
}

@media only screen and (min-width: 400px) {
    .sample_doc img {
        max-height: 200px;
        max-width: 90%;
        border: 1px solid #ccd6dd;
        text-align: center;
    }
}

.sample_doc {
    text-align: center;
    padding: 16px;
}

.sample_doc img {
    text-align: center;
    margin-top: 16px;
}

.sample_doc p {
    text-align: center;
    margin-top: 16px;
}

input[type="file" i] {
    align-items: baseline;
    color: #157bc1;
    text-align: start !important;
}

.form-indentily .list {
    display: flex;
    margin: 1em 0;
    padding-left: 20px;
    align-items: center;
}

.icon-tick {
    background: url("../../assets/img/css/icons8_checkmark_48.png") no-repeat;
    background-size: 24px;
    width: 32px;
    height: 32px;
}

.react-datepicker-wrapper {
    width: 100%;
    color: #157bc1;
}

.react-datepicker__input-container {
    width: 100%;
    color: #157bc1;
    text-align: left;
}

.react-datepicker__header,
.react-datepicker__header span,
.react-datepicker__input-container select {
    color: black !important;
}

.react-datepicker__input-container input {
    width: 99% !important;
    color: #157bc1;
    text-align: left;
}

.profile-title {
    margin-top: 16px;
}

.indentily-number p {
    margin-bottom: 0px;
    margin-top: 1em;
}

.indentily-number .card-number {
    color: #157bc1 !important;
}

.indentily-number input {
    width: 99% !important;
}

.indentily-submit {
    margin-top: 16px;
    width: 100%;
    text-align: center;
}

.indentily-submit .submit {
    margin-top: 16px;
    width: 100%;
    background: #d46c2e;
}

.list-item {
    color: #157bc1;
}

.form-upload {
    color: #157bc1;
}

.main-signup {
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

.main-signup {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.form-indentily {
    width: 100%;
    max-width: 900px;
    padding: 15px;
    margin: auto;
}

.form-label-xau {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-xau button {
    width: 100%;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group input {
    margin-left: 5px;
    box-sizing: border-box;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

button, input {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

.form-indentily {
    width: 100%;
    max-width: 620px!important;
    padding: 15px;
    margin: auto;
}

.form-indentily select {
    width: 100%;
    border: none;
    display: block !important;
    height: 2.1rem;
    font-size: 1rem;
    transition: all 0.3s;
    color: #157bc1;
}

.Select--multi .Select-multi-value-wrapper span {
    color: #157bc1!important;
}

.form-label-group {
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 5px;
}

#telphone {
    border: none !important;
    margin-right: -84px;
}

.form-label-group input {
    border: none !important;
}

.collapse p {
    color: red;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none!important;
    border: none!important;
    -webkit-box-shadow: none!important;
}

.pac-item span {
    color: black !important;
}
