.architecture-area .page-title  .title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #8790af;
    font-weight: 600;
}

.architecture-area h3{
    font-size: 36px;
    font-weight: 600;
    color: #0b0b0b;
}