.disbursement-area {
    width: 100%;
    background: url('../../appy/images/header-bg.jpg') no-repeat scroll center bottom / cover;
    padding-top: 6vh;
    color: #ffffff;
    margin-bottom: 64px;
}

.disbursement-area .mobile-image {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: -158px;
}

.disbursement-area .page-title .title {
    position: relative;
    display: inline-block;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    color: #8790af;
    font-weight: 600;
}