
/*-- 12. Testimonial-Area --*/

.testimonial-area {
    padding-top: 60px;
    padding-bottom: 16px;
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
    /* For tablets: */
    .testimonial-area .team-slide  .owl-nav > button {
        position: absolute;
        left: auto;
        top:90%;
        right: 20%;
        -webkit-transform: translateY(-90%);
        -ms-transform: translateY(-90%);
        transform: translateY(-90%)
    }

    .testimonial-area .team-slide  .owl-nav > button.owl-next {
        right: auto;
        left: 20%;
    }
}
