
/*-- 12. Testimonial-Area --*/

.testimonial-area {
    padding-top: 60px;
    padding-bottom: 16px;
}

.testimonial-area .team-box {
    position: relative;
    padding: 55px 30px 30px 30px;
    -webkit-box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 40px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.testimonial-area .team-box:hover {
    -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
}

.testimonial-area .team-box .team-image {
    position: absolute;
    top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: #ffffff;
    text-align: center;
    overflow: hidden;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1)
}

.testimonial-area .team-box h4 {
    color: #5e88fc;
    font-weight: 600;
    font-size: 20px;
}

.testimonial-area .team-box h6.position {
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}

.testimonial-area .team-slide  .owl-nav > div {
    position: absolute;
    top: 50%;
    left: auto;
    right: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.testimonial-area .team-slide  .owl-nav > div.owl-next {
    right: auto;
    left: 100%;
}


@media only screen and (max-width: 767px) {
    /* For tablets: */
    .testimonial-area .team-slide  .owl-nav > div {
        position: absolute;
        top: 110%;
        left: auto;
        right: 25%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .testimonial-area .team-slide  .owl-nav > div.owl-next {
        right: auto;
        left: 25%;
    }
}

@media only screen and (max-width: 320px) {
    /* For tablets: */
    .testimonial-area .team-slide  .owl-nav > div {
        position: absolute;
        top: 110%;
        left: auto;
        right: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%)
    }

    .testimonial-area .team-slide  .owl-nav > div.owl-next {
        display: none;
    }
}

.testimonial-area h3{
    font-size: 36px;
    font-weight: 600;
}